requests==2.32.3
beautifulsoup4==4.12.3
transformers==4.42.3 
scikit-learn==1.5.1 
gensim==4.3.2 
nltk==3.8.1
torch==2.3.1 
torchvision==0.18.1 
torchaudio==2.3.1
pymilvus==2.4.4
rank-bm25==0.2.2
streamlit==1.36.0